<h1> "Eulogy"</h1>
<h3> This magnificent drivel brought to you by: <%= @tale.name_1 %> </h3>

<p>   If you are <%= @tale.verb_1 %> this, it means I am <%= @tale.adj_1 %>.  I am sure you are all <%= @tale.adv_1 %> grieved.  Especially my <%= @tale.fam %> <%= @tale.name_2 %>, and our <%= @tale.number %> children.  In my life, I <%= @tale.verb_2 %> for many popular <%= @tale.noun_1 %> shows, including '<%= @tale.mil_rank %> Bilko' and 'Get <%= @tale.adj_2 %>'.  I led a <%= @tale.adj_3 %> life, filled with <%= @tale.adj_4 %> <%= @tale.noun_2 %> and even better memories.  I'll never forget the day I won my <%= @tale.award %> award, and showed it to my lover.  They remarked, "It's so much <%= @tale.adj_5 %> than I thought!", to which I replied, "That's what <%= @tale.name_3 %> said."  We laughed and <%= @tale.verb_3 %>.  I hope to be remembered as a <%= @tale.noun_3 %>, who loved to make people <%= @tale.verb_4 %>, but more importantly, as a(n) <%= @tale.adj_6 %> individual.  Thank you all for <%= @tale.verb_5 %>, I promise not to <%= @tale.verb_6 %> you while you sleep.<br/>
<%= @tale.emotion %> forever,  <%= @tale.name_4 %></p><br/><br/>


<%= link_to "INDEX Eulogy", tales_path %><br/>
<%= link_to "EDIT this Abomination, you wimp", edit_tale_path(@tale) %><br/>
<%= link_to "DELETE this Awful Insult to Literature", tale_path(@tale), method: :delete %><br/>
