<h1> Edit "How to Study" </h1>

<%= form_for(@story) do |f| %>
  <%= f.label :name, "Your name" %><br/>
  <%= f.text_field :name %><br/>
  <%= f.label :adjective_1, "adjective 1" %><br/>
  <%= f.text_field :adjective_1 %><br/>
  <%= f.label :adjective_2, "adjective 2" %><br/>
  <%= f.text_field :adjective_2 %><br/>
  <%= f.label :adjective_3, "adjective 3" %><br/>
  <%= f.text_field :adjective_3 %><br/>
  <%= f.label :adjective_4, "adjective 4" %><br/>
  <%= f.text_field :adjective_4 %><br/>
  <%= f.label :adjective_5, "adjective 5" %><br/>
  <%= f.text_field :adjective_5 %><br/>
  <%= f.label :adjective_6, "adjective 6" %><br/>
  <%= f.text_field :adjective_6 %><br/>
  <%= f.label :noun_1, "noun 1" %><br/>
  <%= f.text_field :noun_1 %><br/>
  <%= f.label :noun_2, "noun 2" %><br/>
  <%= f.text_field :noun_2 %><br/>
  <%= f.label :plural_noun_1, "plural noun 1" %><br/>
  <%= f.text_field :plural_noun_1 %><br/>
  <%= f.label :plural_noun_2, "plural noun 2" %><br/>
  <%= f.text_field :plural_noun_2 %><br/>
  <%= f.label :plural_noun_3, "plural noun 3" %><br/>
  <%= f.text_field :plural_noun_3 %><br/>
  <%= f.label :adverb_1, "adverb" %><br/>
  <%= f.text_field :adverb_1 %><br/>
  <%= f.label :verb_1, "verb" %><br/>
  <%= f.text_field :verb_1 %><br/>
  <%= f.submit %>
<% end %>
