<h1> "How to Study"</h1>
<h3> This magnificent drivel brought to you by: <%= @story.name %> </h3>


<p>   <%= @story.adjective_1 %> teachers always give out <%= @story.adjective_2 %> assignments. But, as everyone knows, if you want to pass all your classes, so you can go to a/an <%= @story.noun_1 %>,  become president of a big, international <%= @story.noun_2 %>, and have millions of <%= @story.plural_noun_1 %> in the bank, you must do your homework and study <%= @story.adverb_1 %>.  If you just sit around and <%= @story.verb_1 %>, you won't get ahead in life.  You must learn to pay attention to every <%= @story.adjective_3 %> thing your teacher says.  Do not interrupt, or whisper, to other <%= @story.plural_noun_2 %> during class.  Be sure to have a nice, <%= @story.adjective_4 %> notebook, in which you can write down anything the teacher says that seems <%= @story.adjective_5 %>.  Then go home and memorize all of those <%= @story.adjective_6 %> notes.  When your teacher gives a surprise quiz, you will know all of the <%= @story.plural_noun_3 %>.</p><br/><br/>

<%= link_to "INDEX How to Study", stories_path %><br/>
<%= link_to "EDIT this Abomination, you wimp", edit_story_path(@story) %><br/>
<%= link_to "DELETE this Awful Insult to Literature", story_path(@story), method: :delete %><br/>
